.body
{
  background-color: red;
}



.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-image: url("https://rem-prod/images/c_fill,f_auto,g_fces:center,q_auto,w_1920/v1/wt-cms-assets/2020/12/gwo0igo7jksirbphni0c/viewoftheglobe.jpg");
  background-size: cover;
  background-position: center;

}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/03/a9/91/03a9910d680e852da0709f0258bf073a.jpg");
  
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 5px solid rgb(180, 31, 31);
    
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(8, 1, 1);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #d7d0e2;
}

.link-btn {
  background: none;
  color: rgb(15, 2, 2);
  text-decoration: underline;
}